/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  font-size: 1.125em; /* 18px / 16px */
  line-height: 1.222em; /* 22px / 18px */
  background-color: #1A1A1A;
  color: #D64F2C;
  font-family: "Roboto", Helvetica, sans-serif;
}

h1 {
  font-size: 2.779em; /* 50.02px / 18px */
  line-height: 1.1em; /* 55px / 50.02px (2.5 gridlines) */
  text-align: center;
  font-weight: 500;
}

#page {
  padding: 1.222em; /*One gridline*/
}

img {
  display: block;
  width: 100%;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  font-family : inherit;
  font-size: 100%;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

#uc-text {
  height: 4.16666667em; /*75px / 18px = 4.16666667em*/
  margin-top: 0.6111111111em; /*11px*/
  border: 2px solid #FCE2B4;
  background: #FCE2B4;
  resize: none;
}

#uc-submit {
  font-size: 2em; /*36px / 18px = 2em*/
  height: 2.083333333em; /*75px / 36px = 2.083333333em*/
  max-height: 2.083333333em; /*75px / 36px = 2.083333333em*/
  margin-top: 0.30555555555em; /*11px / 36px = 0.30555555555em*/
  background: #D64F2C;
  font-weight: 500;
}

li {
  margin-top: 1.22222em; /*One gridline*/
  padding-bottom: 0.5em; /*11px Half of a gridline*/
  background: #D64F2C;
}

.label {
  padding-top: 0.6111111em; /*11px Half of a gridline*/
  padding-left: 1em; /*11px Half of a gridline*/
  color: #1A1A1A;
  font-weight: 500;
}

/* 600px @ 16px/em*/
/* Based on an 8 column grid with 16px gutters*/
@media screen and (min-width: 37.5em) {
  #page {
    padding-left: 14.833333%;
    padding-right: 14.833333%;
  }
}

/* 840px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
@media screen and (min-width: 52.5em) {
  #page {
    padding-left: 19.04761905%;
    padding-right: 19.04761905%;
  }
}

/* 960px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
/*@media screen and (min-width: 60em) {
  #page {
    padding-left: 26.875%;
    padding-right: 26.875%;
  }
}*/

/* 1024px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
/*@media screen and (min-width: 52.5em) {
  #page {
    padding-left: 19.04761905%;
    padding-right: 19.04761905%;
  }
}*/

/* 1440px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
@media screen and (min-width: 90em) {
  #page {
    padding-left: 26.25%;
    padding-right: 26.25%;
  }
}

/* 1920px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
/*@media screen and (min-width: 120em) {
  #page {
    padding-left: 34.1666666667%;
    padding-right: 34.1666666667%;
  }
}*/